body {
  font-family: "Style Script", cursive;
}

h1 {
  text-align: center;
  color: bisque;
  text-shadow: 2px 2px gray;
}
h3 {
  color: blue;
  font-size: 14px;
  padding: 20px;
}

h4 {
  color: purple;
  font-size: 16px;
}
h5 {
  font-size: 14px;
  padding: 15px 5px;
  margin: 50px auto;
}

.weather-app {
  max-width: 900px;
  height: 600px;
  margin: 50px auto;
  padding: 50px;
  background: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  text-align: center;
}

.current-temp {
  color: gray;
  font-weight: bolder;
  font-size: xx-large;
  background: white;
  width: 350px;
  height: 250px;
  border-radius: 50%;
  margin: 0px auto;
  padding: 30px 20px;
  opacity: 80%;
}
.col-6 {
  font-size: 12px;
}

.week {
  color: gray;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.search:hover {
  background-color: bisque;
}
.col-3 {
  color: purple;
  text-transform: capitalize;
}
